@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root {
  font-family: 'EB Garamond';
  font-size: 18px;
  text-align: center;
  --disabled-color: #cccccc;
  --main-font: 'Parisienne';
  --sub-font: 'EB Garamond';
  --statement-font: 'Berkshire Swash';
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

button,
.btn {
  background: black;
  border: none;
  border-radius: 12px;
  box-shadow: 5px 6px 12px -6px rgba(0, 0, 0, 0.68);
  color: white;
  font-family: var(--sub-font);
  font-size: 1rem;
  margin: auto;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  outline: none;
  padding: 0.3em;
  width: 10em;
  display: grid;
  align-content: center;
  align-self: center;
}

button:disabled {
  background-color: var(--disabled-color);
  box-shadow: none;
  color: #5e5d5d;
}

.charging {
  animation: charging 1.5s infinite;
}

@keyframes charging {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

footer {
  position: relative;
  height: fit-content;
  background: black;
  color: #ced2d5;
  font-size: 0.8em;
  padding: 1em;
  bottom: 0;
}

footer span {
  font-weight: bold;
}

footer a:hover {
  color: #798b9a;
}

form {
  position: absolute;
  width: 80%;
  left: 15%;
  padding: 0.5em 0;
}

.form__container {
  position: relative;
  width: 100vw;
  height: 110vh;
  background-color: #ced2d5;
  background-image: url('./img/BA-Bus4.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.form__container.guestlist {
  padding: 1.5em 0;
}

.form_container.guestlist button {
  margin-top: 3em;
}

.gifts__container {
  background-image: url('./img/hojas3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: grid;
  align-content: center;
}

/*Buttons div*/
.gifts__container div {
  justify-items: center;
  display: grid;
  grid-template-rows: auto;
}

.instagram__container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/B&A-76-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e0e4e3;
  color: #d2d6d9;
  height: 55vh;
  width: 100%;
}

.instagram__container div {
  filter: drop-shadow(16px 16px 10px black);
  position: relative;
  top: 40%;
}

.instagram__container img {
  display: none;
}

.instagram__container p:last-of-type {
  font-size: 1.5rem;
  font-weight: bold;
}

.itinerary__container {
  margin: 1em;
  height: min-content;
}

h1,
h2,
h3 {
  font-family: 'Parisienne';
  padding-top: 0.3em;
}

h1 {
  font-size: 3em;
  line-height: 0.8em;
}

h2 {
  font-size: 2rem;
  line-height: 2em;
  position: absolute;
  padding-right: 1rem;
  right: 100%;
  transform-origin: right top;
  transform: rotate(270deg);
  white-space: nowrap;
}

header {
  align-items: start;
  background-image: url('./img/B&A-93.jpg');
  background-position: center;
  background-size: 300%;
  min-height: 70vh;
  min-width: 100%;
  width: 100vw;
}

header p {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1em;
  margin: 0;
}

input[type='checkbox'] {
  margin: 1em;
  height: 15px;
}

input[type='text'] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  display: block;
  font-family: inherit;
  font-size: 1em;
  height: 0.5em;
  margin: auto;
  outline: none;
  padding: 0.8em 2.5em;
  text-align: center;
  width: 50%;
}

input[type='text']:focus {
  background-blend-mode: lighten;
  background-color: var(--disabled-color);
}

.modal {
  padding: 2em 1em;
  position: fixed;
  right: 0;
  left: 0;
  top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 13em;
  height: auto;
  background: white;
  border-radius: 20px;
  text-align: right;
  z-index: 2;
  box-shadow: 37px 10px 200px 81px rgba(0, 0, 0, 0.76);
}

.modal hr {
  position: relative;
  margin: 0.5em auto;
  width: 70%;
  left: 15%;
}

.modal p {
  user-select: all;
}

.modal p::selection {
  background: var(--disabled-color);
}

label {
  display: block;
  padding: 0.5em;
}
