@media screen and (min-width: 768px) {
  body h2 {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    transform-origin: right;
    transform: rotate(0deg);
    white-space: nowrap;
    padding-right: 0;
  }

  body form {
    position: relative;
    width: 50%;
    left: -5%;
    top: 5%;
  }

  .btn {
    padding: 0;
  }

  .form__container.form__container {
    position: relative;
    height: auto;
    background-position: left bottom;
    background-size: 130%;
    width: 100vw;
  }

  .form__container.form__container button {
    margin-top: 2em;
    width: 30%;
    justify-self: center;
  }

  .form__container.form__container.guestlist button {
    margin-left: 2em;
    margin-top: 3em;
    width: 15%;
  }

  .form__container.form__container h2 {
    left: -30%;
    position: relative;
  }

  .guestlist {
    text-align: left;
  }

  .guestlist p {
    padding: 1em;
  }

  body .gifts__container {
    height: 40vh;
    background-size: 30em;
    background-position: right;
  }

  /*Buttons div*/
  .gifts__container div {
    display: grid;
    margin: 2em;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
    align-self: center;
    justify-self: center;
  }

  body header {
    min-height: 70vh;
    background-size: 100%;
  }

  body input[type='text'] {
    width: 12em;
  }

  .instagram__container.instagram__container {
    background-size: cover;
    background-position: center;
    height: 45vh;
  }

  .instagram__container.instagram__container img {
    padding-top: 2.5em;
  }

  .itinerary__container.itinerary__container {
    display: grid;
    min-width: auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 3.5em 1em;
    height: 35vh;
  }

  .itinerary__container.itinerary__container div {
    border-right: 1px solid var(--disabled-color);
  }

  .itinerary__container.itinerary__container div:last-of-type {
    border: none;
  }

  .modal.modal {
    text-align: center;
    min-width: 15vw;
    min-height: 70%;
    top: 5%;
  }

  .modal.modal button {
    width: 10em;
  }

  .modal.modal hr {
    width: 100%;
    left: auto;
  }

  .modal.modal h2 {
    position: relative;
    right: auto;
    margin: auto;
  }

  p {
    font-size: 1em;
  }
}
