@media screen and (min-width: 767px) {
  p {
    font-size: 1em;
  }

  .form__container.form__container {
    position: relative;
    min-height: 50vh;
    height: auto;
    background-position: left bottom;
    background-size: 80em;
    width: 100vw;
    bottom: 0;
  }

  .form__container.form__container h2 {
    position: relative;
  }

  body form {
    position: relative;
    width: 50%;
    height: auto;
    left: 1%;
    top: 5%;
  }


  .btn {
    padding: 0;
  }

  .form__container.form__container button {
    margin-top: 1em;
    width: 30%;
    justify-self: center;
  }

  body .gifts__container {
    height: 45vh;
    background-size: 20em;
    background-position: right;
  }

  /*Buttons div*/
  .gifts__container div {
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    align-self: center;
    justify-self: center;
  }

  body h2 {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    transform-origin: right;
    transform: rotate(0deg);
    white-space: nowrap;
  }

  .itinerary__container.itinerary__container {
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 2em;
    height: min-content;
  }

  .itinerary__container.itinerary__container div {
    border-right: 1px solid var(--disabled-color);
  }

  .itinerary__container.itinerary__container div:last-of-type {
    border: none;
  }


  .modal.modal {
    text-align: center;
    min-width: 100px;
    top: 5%;
  }


  .modal.modal hr {
    left: auto;
    width: 100%;
  }

  .modal.modal h2 {
    position: relative;
    right: auto;
    text-align: center;
  }

  .modal.modal button {
    width: 10em;
  }

  body input[type='text'] {
    width: 12em;
  }

}