@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');

:root {
  font-family: 'EB Garamond';
  font-size: 18px;
  text-align: center;
  --disabled-color: #cccccc;
  --main-gray: #ced2d5;
  --gold-pop: #d49504;
  --main-font: 'Parisienne';
  --sub-font: 'EB Garamond';
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

button,
.btn {
  background: black;
  border: none;
  border-radius: 12px;
  box-shadow: 5px 6px 12px -6px rgba(0, 0, 0, 0.68);
  color: white;
  font-family: var(--sub-font);
  font-size: 1rem;
  margin: auto;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  outline: none;
  padding: 0.3em;
  width: 10em;
  display: grid;
  align-content: center;
  align-self: center;
}

button:disabled {
  background-color: var(--disabled-color);
  box-shadow: none;
  color: #5e5d5d;
}

h1,
h2,
h3 {
  font-family: 'Parisienne';
  padding-top: 0.3em;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -0em;
  font-family: var(--main-font);
  line-height: 1.5em;
  opacity: 1;
  padding-top: 0.1em;
}

h2 {
  font-size: 1.8rem;
  line-height: 2em;
  position: absolute;
  padding-right: 1.5rem;
  right: 100%;
  transform-origin: right top;
  transform: rotate(270deg);
  white-space: nowrap;
}

header {
  align-items: start;
  background-image: url('../img/B&A-93.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  width: 100vw;
}

header p {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1em;
  margin: 0;
}

header p:last-of-type {
  font-family: var(--sub-font);
  margin: 0.2em;
}

header span {
  font-family: var(--sub-font);
  opacity: 0.2;
  font-weight: lighter;
}

.itinerary-component {
  margin: 1em;
  min-height: 55vh;
  position: relative;
}

.instagram-component {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/B&A-Hats.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-gray);
  width: 100vw;
  color: white;
  overflow: hidden;
  height: 55vh;
  width: 100vw;
}

.instagram-component div {
  filter: drop-shadow(16px 16px 10px black);
  position: relative;
  top: 40%;
}

.instagram-component img {
  display: none;
}

.instagram-component p {
  font-family: var(--main-font);
  font-size: 1.2em;
  line-height: 1em;
}

.instagram-component p:last-of-type {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: var(--sub-font);
}

.gifts-component {
  background-image: url('../img/floral_yellow_background.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 130%;
  overflow: hidden;
  height: 50vh;
  display: grid;
  align-content: center;
}

.gifts-component h2 {
  text-shadow: 0 1px 0 white;
}

.gifts-component buttons {
  justify-items: center;
  display: grid;
  grid-template-rows: auto;
}

.modal {
  padding: 2em 1em;
  position: fixed;
  right: 0;
  left: 0;
  top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 13em;
  height: auto;
  background: white;
  border-radius: 20px;
  text-align: right;
  z-index: 2;
  box-shadow: 37px 10px 200px 81px rgba(0, 0, 0, 0.76);
}

.modal hr {
  position: relative;
  margin: 0.5em auto;
  width: 70%;
  left: 15%;
}

.modal p {
  user-select: all;
}

.modal p::selection {
  background: var(--disabled-color);
}

.form-layout-component {
  position: relative;
  width: 100vw;
  height: 90vh;
  background-color: var(--main-gray);
  background-image: url('../img/B&A-Bus.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

form {
  position: absolute;
  width: 80%;
  left: 20%;
  padding: 0.5em 0;
}

input[type='text'] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  display: block;
  font-family: inherit;
  font-size: 1em;
  height: 0.5em;
  margin: auto;
  outline: none;
  padding: 0.8em 2.5em;
  text-align: center;
  width: 50%;
}

input[type='text']:focus {
  outline: solid 2px var(--gold-pop);
}

input[type='checkbox'] {
  margin: 1em;
  height: 15px;
}

label {
  display: block;
  padding: 0.5em;
}

.message {
  background-color: var(--gold-pop);
  border: 1.5px solid var(--gold-pop);
  border-radius: 10px;
  padding: 0.2em;
  position: relative;
  margin: auto;
  height: min-content;
  width: max-content;
}

.charging {
  animation: charging 1.5s infinite;
}

@keyframes charging {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.error {
  background-color: red;
  border: red;
  color: white;
}

footer {
  position: relative;
  height: fit-content;
  background: black;
  color: var(--main-gray);
  font-size: 0.8em;
  padding: 1em;
  bottom: 0;
}

footer span {
  font-weight: bold;
}

footer a:hover {
  color: var(--gold-pop);
}
