@media screen and (min-width: 768px) {
  /*--- General styling --- */
  body h1 {
    font-size: 4em;
  }

  body h2 {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    transform-origin: right;
    transform: rotate(0deg);
    white-space: nowrap;
    padding-right: 0;
  }

  .btn {
    padding: 0;
  }

  body input[type='text'] {
    width: 12em;
  }

  /*--- @FORM component --- */

  body form {
    position: relative;
    width: 50%;
    left: -3%;
    top: 5%;
  }

  body .form__container {
    position: relative;
    min-height: auto;
    max-height: 75vh;
    background-position: left bottom;
    background-size: 130%;
    width: 100vw;
  }

  body .form__container button {
    margin-top: 2em;
    width: 30%;
    justify-self: center;
  }

  /*@FORM checkboxes*/

  body .form__container.guestlist button {
    margin-left: 2em;
    margin-top: 3em;
    width: 12em;
  }

  body .form__container h2 {
    left: -28%;
    position: relative;
  }

  .guestlist {
    text-align: left;
  }

  body .form__container.guestlist p {
    padding: 1.5em;
  }

  /*@FORM final confirmation msg*/

  body .form__container.final p {
    padding: 4.5em;
    padding-bottom: 0;
  }

  body .form__container.final button {
    margin-left: 4.5em;
  }

  /*--- @GIFTS component --- */

  body .gifts__container {
    background-size: 40em;
    background-position: right top;
  }

  /*@GIFTS buttons*/

  body .gifts__container div {
    display: grid;
    margin: 2em;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
    align-self: center;
    justify-self: center;
  }

  body .gifts__container h2 {
    text-shadow: 0 0px 0 black;
  }

  /*--- @HEADER component --- */

  body header {
    min-height: 70vh;
    background-size: 100%;
  }

  /*--- @INSTAGRAM component --- */

  body .instagram__container {
    width: 100vw;
    background-size: cover;
  }

  body .instagram__container img {
    display: inline-flex;
    width: 2.5em;
    padding: 0;
    margin: 0;
    position: relative;
  }

  body .instagram__container div {
    top: 25%;
    font-size: 1.1em;
  }

  .filter {
    filter: invert(100%) sepia(0%) saturate(6700%) hue-rotate(285deg)
      brightness(105%) contrast(110%);
  }

  /*--- @ITINERARY component --- */

  body .itinerary__container {
    display: grid;
    min-width: auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 3.5em 1em;
    height: 35vh;
  }

  body .itinerary__container div {
    border-right: 1px solid var(--disabled-color);
  }

  body .itinerary__container div:last-of-type {
    border: none;
  }

  /*--- @MODAL component --- */

  body .modal {
    text-align: center;
    min-width: 15vw;
    min-height: 50%;
    top: 10%;
  }

  .modal div {
    margin-top: 5em;
  }

  body modal button {
    width: 10em;
  }

  body modal hr {
    width: 100%;
    left: auto;
  }

  body modal h2 {
    position: relative;
    right: auto;
    margin: auto;
  }
}
